.todo_main_container {
  margin: 20px auto;
  width: 500px;
  height: 600px;
  background-color: bisque;
}

.todo_logo {
  padding: 10px 0px;
  font-size: 30px;
}

.todo_list_container {
  overflow-y: scroll;
  margin: 0 auto;
  width: calc(100% - 40px);
  height: calc(100% - 100px);
  background-color: white;
}

.todo_enroll_container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.todo_ul {
  gap: 10px;
}

.button_size {
  display: block;
  min-height: 50px;
}
